@charset "UTM-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fontInter: 'Inter';
    --fontPoppins: 'Poppins';
    --fontNoto: 'Noto Sans';
}
body, html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #592c8d;
}
.sign_page{
    background-color: #fff;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.347);
    padding: 40px 0;
}
.sign_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign_inp{
    width: 80%;
    height: max-content;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.587);
    border-radius: 7px;
}
.sign_flex{
    display: flex;
    width: 80%;
}
.sign_ckd{
    width: 20px;
}
.sign_label{
    font-family: var(--fontPoppins);
    font-weight:bold;
    text-align: left;
    font-size: 16px;
    padding-left: 15px ;
}
.sign_btn{
    margin-top: 20px;
    width: 120px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    color:#fff;
    background-color: #592c8d;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.235);
    cursor: pointer;
}
.sign_btn:hover{
    background-color: #402165;
    color:#fff;
}